name: "Generate documentation and deploy"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Delete deployment
        uses: strumwolf/delete-deployment-environment@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: github-pages
          onlyRemoveDeployments: true

  build:
    runs-on: ubuntu-latest
    needs: cleanup
    permissions:
      contents: write
    steps:
    - name: Run pre-setup commands
      run: |
        echo "Running pre-setup commands..."
        sudo apt-get update
        python -m pip install --upgrade pip
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Upgrade pip, install package, install requirements, build docs
      run: |
        pip install --upgrade pip
        pip install .
        pip install -r ./docs/requirements.txt
        pip install sphinx
        pwd
        ls
        cd docs
        make html
      # sphinx-build -b html docs docs/_build
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: html-docs
        path: docs/build/html/
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html